# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# env & secrets
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# build / coverage
dist/
build/
coverage/
.tmp/
.cache/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
